html {
    height: 100vh;
}

.center-shoe-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .shoe-details-container {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        padding: 4rem 0;
    }
}
