html {
    height: 100vh;
}

.center-shoe-details {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 80vh;
    .shoe-details-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 90%;
        padding: 4rem 0;
        // height: 100%;
    }
}
