@import "../../utils/mixin.scss";

html {
    height: 100vh;
}

.center-shoe-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .shoe-details-container {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        padding: 4rem 0;
        .details-form-container {
            & > *:not(.item-details-btn-container) {
                @include responsive(small-screen) {
                    width: 20rem;
                }
            }
        }
        .image-details-page-container {
            img {
                @include responsive(small-screen) {
                    width: 40rem;
                }
            }
        }
    }
}
