.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 2rem;
    font-family: "nike";
    letter-spacing: 0.8rem;
    gap: 15rem;
    & > * {
        list-style: none;
        cursor: pointer;

        & > * {
            text-decoration: none;
            color: #fff;
        }
    }
}
