$media_queries: (
    "small-screen": "(max-width: 1420px)",
    "tablet": "(max-width: 1000px)",
    "mini-tablet": "(max-width: 700px)",
    "mobile": "(max-width: 500px)",
    "small-mobile": "(max-width: 350px)",
);

@mixin responsive($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}
